---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Leaflet, CreateLeafletIcon, Marker, Popup } from "astro-leaflet";
import { getCollection } from "astro:content";

const stores = await getCollection("stores");
---

<BaseLayout title="Home">
  <div class="pb-2">
    <h1 class="font-special text-4xl font-bold pb-2">All Stores</h1>
  </div>

  <div class="pb-2">
    <CreateLeafletIcon
      name="store"
      options={{ className: "leaflet-icon-store", iconSize: [20, 20] }}
    />

    <Leaflet
      options={{
        tileByName: "Google&type=street&extra=transit",
        center: [39.833333, -98.583333],
        zoom: 4,
      }}
      class="pb-2 rounded-xl"
    >
      {
        stores.map((store) => (
          <Marker
            latlng={store.data.latLon}
            options={{ title: store.data.name }}
            astroIconName="store"
          >
            <Popup
              content={`<b>${store.data.name}</b><br/>${store.data.address}<br/><br/>Rapid Stops Nearby: ${store.data.stops.rapid?.length ?? 0}<br/>Local Stops Nearby: ${store.data.stops.local?.length ?? 0}<br/><br/>${store.data.walkScore?.walkScore ? `Walk Score: ${store.data.walkScore?.walkScore}<br/>` : ""}${store.data.walkScore?.transitScore ? `Transit Score: ${store.data.walkScore?.transitScore}<br/>` : ""}${store.data.walkScore?.bikeScore ? `Bike Score: ${store.data.walkScore?.bikeScore}<br/>` : ""}${store.data.walkScore ? `<small>Data provided by <a href="${store.data.walkScore.url}">walkscore.com</a></small><br/><br/>` : ""}<a href="/store/${store.id}">More Info</a>`}
            />
          </Marker>
        ))
      }
    </Leaflet>
  </div>

  <div class="pb-2">
    <ul class="space-y-2">
      {
        stores.map((store) => (
          <li>
            <div class="p-3 border border-black/50 dark:border-white/50 rounded-xl">
              <p class="font-bold">{store.data.name}</p>
              <p>{store.data.address}</p>

              <p class="pt-2">
                Rapid Stops Nearby: {store.data.stops.rapid?.length ?? 0}
              </p>
              <p>Local Stops Nearby: {store.data.stops.local?.length ?? 0}</p>

              <div class="pt-2">
                {store.data.walkScore?.walkScore ? (
                  <p>Walk Score: {store.data.walkScore?.walkScore}</p>
                ) : null}
                {store.data.walkScore?.transitScore ? (
                  <p>Transit Score: {store.data.walkScore?.transitScore}</p>
                ) : null}
                {store.data.walkScore?.bikeScore ? (
                  <p>Bike Score: {store.data.walkScore?.bikeScore}</p>
                ) : null}
                {store.data.walkScore ? (
                  <p class="text-sm italic">
                    Walk Score data provided by{" "}
                    <a
                      href={store.data.walkScore.url}
                      class="text-blue-700 dark:text-blue-400 hover:underline"
                      target="_blank"
                    >
                      walkscore.com
                    </a>
                  </p>
                ) : null}
              </div>

              <p class="pt-2">
                <a
                  href={`/store/${store.id}`}
                  class="text-blue-700 dark:text-blue-400 hover:underline"
                >
                  More Info
                </a>
              </p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>

<style is:global>
  .leaflet-icon-store {
    background: goldenrod;
    border: 2px solid white;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.5));
    border-radius: 50%;
  }
</style>
